
<div class="card h-100">
  <!-- Header -->
  <div class="card-header card-header-content-sm-between">
    <h4 class="card-header-title mb-2 mb-sm-0">Accident by state</h4>


  </div>
  <!-- End Header -->

  <!-- Body -->
  <div class="card-body">
    <!-- Chart -->
    <div class="chartjs-custom mx-auto" style="height: 20rem;">

    </div>
    <!-- End Chart -->

    <div class="row justify-content-center">
      <div class="col-auto">
        <span class="legend-indicator bg-primary"></span> New
      </div>
      <!-- End Col -->

      <div class="col-auto">
        <span class="legend-indicator" style="background-color: #7000f2;"></span> Pending
      </div>
      <!-- End Col -->

      <div class="col-auto">
        <span class="legend-indicator bg-info"></span> Failed
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Body -->
</div>
