<!-- Bootstrap Container -->
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <img src="fud.png" alt="Centered Image" style="width: 400px" class="img-fluid  mx-auto d-block centered-image" />
    <h1 class="mt-4 display-5">Audu Bako College of Agriculture Danbatta</h1>
    <h3 class="text-center ">Design and implementation of Accident system</h3>
    <h1 class="text-center ">By</h1>
    <h3 class="text-center ">Munnir Tasiu Ibrahim</h3>
    <h3 class="text-center ">NDCOM/22/CS/0042</h3>

    <div class="progress w-100" style="height: 15px;">
      <div
        class="progress-bar  progress-bar-animated"
        role="progressbar"
        [style.width.%]="progress"
        [attr.aria-valuenow]="progress"
        aria-valuemin="0"
        aria-valuemax="100">
        {{ progress | number:'1.0-0' }}%
      </div>
    </div>
  </div>
</div>




